*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body{
  //padding: 0 3rem;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
  height: 100vh;
  background-color: #b3ab89;
}

.light-theme {
    background-color: #b3ab89;

  .theme-button,
  .history-button{
    background-color: rgba(202, 144, 156, 0.85);
    color: #430606;
  }
  .calculator{
    background-color: #602727;
  }
  .calculator__display{
    background-color: #957a7a;
    color: #300c0c;
  }
  .calculator__button{
    background-color: #602727;
    color: white;
  }
  .calculator__button-operation {
    background-color: #880909;
    color: white;
  }
  .divide,
  .multiple,
  .minus,
  .plus,
  .equals {
    background-color: #d50e0e;
  }
  .author-name,
  .date{
    color: #2b0a0a;
  }
}

.dark-theme {
  background-color: #403d31;
  .theme-button,
  .history-button{
    background-color: rgba(67, 46, 51, 0.85);
    color: #8e5c5c;
  }
  .calculator{
    background-color: #953e3e;
  }
  .calculator__display{
    background-color: #957a7a;
    color: #2b0a0a;
  }
  .calculator__button{
    background-color: #953e3e;
    color: #170303;
  }
  .calculator__button-operation {
    background-color: #d18585;
    color: #170303;
  }
  .divide,
  .multiple,
  .minus,
  .plus,
  .equals {
    background-color: #e64040;
  }
  .author-name,
  .date{
    color: #a19393;
  }
}


header{
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
main{
  padding: 100px 0;
}

.theme-button,
.history-button {
  width: 7%;
  height: 70%;
  background-color: rgba(202, 144, 156, 0.85);
  box-shadow: 0 5px 10px 2px rgba(28, 30, 32, 0.5);
  border: none;
  color: #430606;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 2rem;
  transition: ease 0.7s;
  &:last-child{
    margin-right: 0;
  }
  &:hover{
    transform: scale(.97);
  }
}

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}

.calculator{
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 100px repeat(5, 80px);
  border: 4px solid rgba(23, 3, 3, 0.84);
  border-radius: 10px;
  overflow: hidden;
  width: 324px;
  margin: auto;
  background-color: #602727;
  box-shadow: 0 5px 10px 2px rgba(28, 30, 32, 0.5);
}

.history-wrap{
  display: none;
  position: absolute;
  right: 100%;
  max-width: 100%;
  height: 100%;
  padding: 20px;
}

.calculator__display{
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: #957a7a;
  color: #300c0c;
  box-shadow: 0 0 8px 6px rgba(28, 30, 32, 0.41) inset;
  font-size: 48px;
  font-weight: bold;
  padding: 25px 20px;
  text-align: end;
}
.zero{
  grid-column-start: 1;
  grid-column-end: 3;
}

.calculator__button{
  border-radius: 5px;
  background-color: #602727;
  font-size: 42px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 2px solid #321414;
  box-shadow: 0 5px 10px 2px rgba(28, 30, 32, 0.5);
  transition: ease .3s;
  &:hover{
    transform: scale(.97);
  }
}

.calculator__button-operation{
  background-color: #880909;
  font-size: 32px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  border: 2px solid #4a1818;
  transition: ease .3s;
  &:hover{
    transform: scale(.97);
  }
}

.divide,
.multiple,
.minus,
.plus,
.equals {
  background-color: #d50e0e;
}

.author-name,
.date{
  text-decoration: none;
  color: #2b0a0a;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}